.auth-loading {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-bg-secondary);
}

.auth-loading__content {
    /* width: 5rem; */

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    background-color: var(--color-bg);
    font-size: large;

}

.auth-loading .spinner {
    border-radius: 50%;
}