.alert {
    padding: 1rem 0 1rem 1rem;
    border-radius: var(--size-border-radius);
    font-weight: 500;
    color: var(--color-button-txt);
    max-width: 300px;
}

.alert--default {
    background-color: var(--color-button-bg);
}

.alert--danger {
    background-color: red;
    color: white;
}