/* Reset css */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: underline;
    color: var(--color-txt-secondary);
}

#root {
    isolation: isolate;
}

/* Custom properties */
:root { /* DEFAULT THEME: dark */
    --color-theme: black;
    --color-bg: #1c1e21;
    --color-bg-secondary: #242526;
    --color-bg-tertiary: #3a3b3c;
    --color-txt: #e6f6ff;
    --color-txt-secondary: #bcc0c4;
    --color-button-bg: #f1f5f9;
    --color-button-txt: black;
    --color-icon: white;
    --color-icon-bg: #3e4042;
    --color-border: #3e4042;

    --size-border-radius: 5px;
    --size-profile: 2.35rem;

}

@media (prefers-color-scheme: light) {   /* light THEME */
    :root {
      --color-theme: black;
        --color-bg: #1c1e21;
        --color-bg-secondary: #242526;
        --color-bg-tertiary: #3a3b3c;
        --color-txt: #e6f6ff;
        --color-txt-secondary: #bcc0c4;
        --color-button-bg: #f1f5f9;
        --color-button-txt: black;
        --color-icon: white;
        --color-icon-bg: #3e4042;
        --color-border: #3e4042;
    }
}

/* general style */
:root {
    overflow: hidden;
}

.main-container {
    color: var(--color-txt);  
    background-color: var(--color-bg);
    /* padding: 0.25rem; */
}

main {
    margin-top: 2rem;
    background-color: var(--color-bg-secondary);

}

.icon {
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;              /* thickness */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg); /* scrollbar track matches main background */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-tertiary); /* thumb uses tertiary color */
  border-radius: 6px;
  border: 2px solid var(--color-bg); /* gives spacing illusion */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-secondary); /* hover: middle layer */
}

hr {
    width: 200%;
    height: 0.5px;

    position: relative;
    left: -20%;

    border: none;
    background-color: var(--color-border);
}

/* Responsive */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    main {
        margin: 0.5rem 0;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }