.message {
    width: 100%;

    display: flex;
    align-items: center;

    color: var(--color-txt);
    margin: 0.25rem 0;
}

/* Message type style */
.message--text {
    max-width: 60%;
    width: fit-content;

    font-size: smaller;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-bg-tertiary);
}
.message--image {
    max-width: 60%;
}
.message--image img {
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Message origin style -- from one self or others */
.message--self {
    justify-content:  flex-end;
}
.message--other {
    justify-content: flex-end;
    flex-direction: row-reverse;
}
/* style, grid layout for msg from others */
.message__grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    align-items: end;
    gap: 0.25rem 0.75rem;
}
.message__profile {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    width: var(--size-profile);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    
}
.message__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.message__username {
    grid-column: 2 / 3;

    font-size: var(--size-txt-small);
    color: var(--color-txt-secondary);
}
.message__content {
    grid-row: 2 / 3;
}

/* hid username when in direct conversation */
.conversation--direct .message__username {
    display: none;
}

/* icon */
.message-options {
    flex-shrink: 0;
}
